@media only screen and (max-width:600px) {
  #logo {
    width: 80px;
    height: 80px;
  }
}

@media only screen and (max-width:600px) {
  #playlist {
    -webkit-overflow-scrolling: touch;
    overflow-y: scroll;
  }
  iframe {
    width: 300px;
    height: 380px;
  }
}

html {
  height: 100%;
  margin: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  color: #FFF;
  background: #1B1B1B;
  display: flex;
  flex-direction: column;
  margin: 0;
  height: 100%;
}

.wrapper {
  min-height: 100%;
  margin-bottom: -70px;
}

.footer {
  /* Set the fixed height of the footer here */
  height: 50px;
  line-height: 50px; /* Vertically center the text there */
}

h1 {
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  color: white;
  margin-bottom: 32px;
  margin-top: 20px;
}

@media only screen and (max-width:600px) {
  h1 {
    font-size: 20px;
  }
}

h4 {
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
}

@media only screen and (max-width:600px) {
  h4 {
    font-size: 16px;
  }
}

.about {
  text-transform: lowercase;
}

#location_id {
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  color: #a49262;
  text-align: center;
}

@media only screen and (max-width:600px) {
  #location_id {
    font-size: 20px;
  }
}

#bg {
  opacity: 0.16;
  z-index: -10;
  position: fixed;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
}

#bg img {
  -webkit-filter: blur(5px);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  min-width: 50%;
  min-height: 50%;
}

.about-img {
  width: 200px;
  height: 200px;
}

#icons {
  padding-top: 10px;
  padding-bottom: 35px;
}

.social-icon {
  width: 30px;
  height: 30px;
}
  
.container {
  padding-top: 20px;
}

.plain-link {
  color: white;
}

.plain-link:hover {
  color: #a49262;
  text-decoration: none;
}

form {
  padding-top: 280px;
}

@media only screen and (max-width:600px) {
  form {
    padding-top: 65px;
  }
}

.control-label {
  text-transform: uppercase !important;
  font-size: 34px;
}

.form-control:focus {
  border-color: #776a47;
}

input[type="text"] {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  outline: none;
}

input:focus {
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
  outline: none !important;
}


.btn-primary {
  background: #776a47;
  text-transform: uppercase;
  font-weight: 700;
  border: 0;
  width:50%;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .btn-primary:active:focus, .open>.dropdown-toggle.btn-primary {
  color: #fff;
  background-color: #4e462f !important;
}

@media only screen and (min-width:600px) {
  .btn-primary {
    display: none;
    max-height: 0;
    overflow: hidden;
  }
}

.disclaimer {
  font-size: 11px;
  margin: 0;
}
